<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Computed Properties</title>
</head>
<body>
<div id="app">
  <p>First Name: {{ firstName }}</p>
  <p>Last Name: {{ lastName }}</p>
  <p>Dob: {{ dob }}</p>
  <p>Name (computed): {{ name }}</p>
  <p>Age (computed): {{ age }}</p>
  <p>Underage (computed): {{ underage }}</p>

  <input type="text" v-model="firstName">

  <br>
  <label for="dob">Date of birth</label>
  <input type="date" v-model="dob" id="dob">
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const {createApp} = Vue;

    let app = createApp({
        data() {
            return {
                firstName: 'Boban',
                lastName: 'Rakic',
                dob: ''
            }
        }, computed: {
            name() {
                return this.firstName + ' ' + this.lastName
            },

            age() {
                let dob = new Date(this.dob);
                return new Date().getFullYear() - dob.getFullYear();
            },

            underage() {
               return this.age < 18
            }
        }
    }).mount('#app');
</script>
</body>
</html>