<h2 id="h2">Index</h2>
<button id="button">Click me!</button>
<button id="button-add">Add element!</button>

<input type="text" id="input">

<script src="local.js"></script>
<!--<script>-->
<!--  console.log('Hi from the template!');-->
<!--</script>-->



