<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bind model</title>
</head>
<body>
    <div id="app">
        {{ message }}

        <input type="text" :value="message" @input="onType">
        <input type="text" v-model="message">
        <br>
        <br>
        <br>
        {{ parentCount }}
        <counter 
            v-model="parentCount" 
            :title="message" 
            @title-change="onTitleChange">
        </counter>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="bind-model.js"></script>
</body>
</html>