<div class="container">
  <h1>{{ product.name }}</h1>
  <img src="{{ product.previewImage }}">
  <p class="card-text">{{ product.description }}</p>
  <a href="#" class="btn btn-primary">${{ product.price }} Add to cart</a>
</div>

